---
import Base from '../layouts/Base.astro';
import { Bingo } from './bingo/Bingo';
import '../index.css';
---
<Base title="Bingo — Jocy Wolff">
  <div class="md:mx-[1.6cm] flex flex-col md:gap-[1.4cm]">
    <Bingo client:only="react" />
  </div>
</Base>
