---
import Base from '../layouts/Base.astro';
import { CV } from '../features/cv/CV';
import '../index.css';
---
<Base>
  <div class="md:mx-[1.6cm] flex flex-col md:gap-[1.4cm]">
    <CV />
  </div>
</Base>
