---
import Base from '../layouts/Base.astro';
import { LyricsEditor } from './lyrics/LyricsEditor';
import '../index.css';
---
<Base title="Lyrics Editor — Jocy Wolff" noindex={true}>
  <div class="md:mx-[1.6cm] flex flex-col md:gap-[1.4cm]">
    <LyricsEditor client:only="react" />
  </div>
</Base>
